/* Webfont: Architectural-Condensed */@font-face {
    font-family: 'ArchitecturalCond';
    src: url('Architectural-Condensed.eot'); /* IE9 Compat Modes */
    src: url('Architectural-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Architectural-Condensed.woff') format('woff'), /* Modern Browsers */
         url('Architectural-Condensed.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

