/* Webfont: Architectural-LightExtExp */@font-face {
    font-family: 'ArchitecturalLightExtExp';
    src: url('Architectural-LightExtExp.eot'); /* IE9 Compat Modes */
    src: url('Architectural-LightExtExp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Architectural-LightExtExp.woff') format('woff'), /* Modern Browsers */
         url('Architectural-LightExtExp.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

